---
import Hero from '@/components/sections/Hero.astro';
import Layout from '@/layouts/Layout.astro';

import KeyboardManager from '@/components/KeyboardManager.astro';
import Section from '@/components/Section.astro';
import About from '@/components/sections/About.astro';
import Certificates from '@/components/sections/Certificates.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';
import SoftSkills from '@/components/sections/SoftSkills.astro';

import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { getEntry, getCollection } from 'astro:content';

const LANG = getLangFromUrl(Astro.url);
const t = useTranslations(LANG);

const entry = await getEntry("cv", LANG);
const summary = await getEntry("summary", LANG);
const projects = await getCollection("projects");
if (!entry) {
  throw new Error(`CV entry not found for language: ${LANG}`);
}

const { basics } = entry.data;
const { education } = entry.data;
const { name, label } = basics;
const { certificates } = entry.data;
const { skills } = entry.data;

const { softskills } = entry.data;
// Filtrar entradas por subdirectorio en la colección
const worksEntries = await getCollection('works', ({ id }) => {
  return id.startsWith(LANG);
});

const projectsEntries = projects.filter((project) => {
  return project.id.startsWith(LANG);
});
---

<Layout title={`${t('title')} ${name} - ${label}`}>
  <main class='container'>
    <Section>
      <Hero data={basics} />
    </Section>
    <Section title={t('section.about')}>
      <About summary={summary} />
    </Section>
    <Section title={t('section.experience')}>
      <Experience works={worksEntries} />
    </Section>
    <Section title={t('section.education')}>
      <Education education={education} />
    </Section>
    <Section title={t('section.projects')}>
      <Projects projects={projectsEntries} />
    </Section>
    <Section title={t('section.certifications')}>
      <Certificates certificates={certificates} />
    </Section>
    <Section title={t('section.skills')}>
      <Skills skills={skills} />
    </Section>
    <Section title={t('section.softSkills')}>
      <SoftSkills softskills={ softskills } />
    </Section>
    <KeyboardManager data={entry.data} />
  </main>
</Layout>

<style>
  .container {
    padding: 2rem;
    box-sizing: border-box;
  }

  @media (min-width: 768px) {
    .container {
      padding: 3rem;
    }
  }
</style>
